.title
    font-weight: normal
    margin: .4em 0
    line-height: 1

    &_level
        &_1
            font-size: 36px

        &_2
            font-size: 32px

        &_3
            font-size: 28px

        &_4
            font-size: 24px

        &_5
            font-size: 20px

        &_6
            font-size: 18px
