.issues-grid
{
    display: table;

    border-collapse: collapse;

    border: 1px solid #e5e5e5;
}

.issues-grid
{
    &__header
    {
        display: table-header-group;
    }

    &__cell_type_header
    {
        padding: 10px;
        background: #f0ede8;
        border: 1px dotted #cdcdcd;
    }

    &__cell
    {
        display: table-cell;
        padding: 5px;
    }

    &__body
    {
        display: table-row-group;
    }

    &__issue-row
    {
        display: table-row;
    }

    &__pr-cell .fa-code-fork
    {
        color: #000;
        font-size: 24px;
    }
}
