.issues-grid
{
    display: table;

    border-collapse: collapse;

    border: 1px solid #e5e5e5;
}

.issues-grid
{
    &__header
    {
        display: table-header-group;
    }

    &__cell_header
    {
        padding: 10px;

        background: #f0ede8;

        border: 1px dotted #cdcdcd;

        font-size: 1.15em;
    }

    &__cell
    {
        display: table-cell;

        border: 1px dotted #cdcdcd;

        padding: 5px 10px;

        vertical-align: middle;
    }

    &__body
    {
        display: table-row-group;
    }

    &__issue-row,
    &__row
    {
        display: table-row;
    }

    &__issue-row:nth-child(even)
    {
        background: rgba(0,0,0,.01);
    }

    &__issue-row:hover
    {
        background: #f9f3da;
    }

    &__pr-cell .fa-code-fork
    {
        color: #000;
        font-size: 18px;
    }

    &__pr-cell
    {
        width: 16px;

        text-align: center;
    }

    &__labels-cell
    {
        width: 10%;
    }

    &__issue-cell
    {
        min-width: 150px;
    }

    &__comment-cell
    {
        min-width: 200px;
    }

    &__label
    {
        display: inline-block;

        border-bottom: 2px solid;

        margin-right: 10px;
    }

    &__sorter
    {
        float: right;

        cursor: pointer;
    }

    &__sorter_loading .fa
    {
        display: none;
    }

    &__user .image
    {
        vertical-align: middle;

        border-radius: 50px;
    }

    &__user &__login
    {
        margin-left: 5px;
        vertical-align: middle;
    }
}
