.app-content_view_content
{
    margin: 20px 40px;
}

.app-content_view_content
{
    .app-content__title_type_unswer .fa
    {
        color: #e26a68;
    }

    .app-content__title_type_feedback .fa
    {
        color: darkgreen;
    }

    .app-content__title_type_feedback
    {
        margin-top: 40px;
    }
}
